* {
	margin:0;
	padding:0;
	color: black;
	font-family: "Montserrat";
}

body {
	background-color: #f8f8f8;
}

a {
	text-decoration:none;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-TR'), url(Montserrat-tr.ttf);
  
}

#baslik-dis {
	width:100%;
	height: 90px;
	border-bottom: 2px solid #35dc40;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.2);
	   -moz-box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.2);
			box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.2);
}

#baslik {
	overflow:hidden;
}

#bas-sag, #bas-orta {
	float:right;
}

#logo {
	height: 80px;
	margin-top: 5px;
}

#kullanici, #menu {
	height: 20px;
	background-color: #efefef;
	border-radius: 20px;
	padding: 10px;
	margin-top: 24px;
	cursor: pointer;
	-webkit-user-select: none;      
	   -moz-user-select: none;
		-ms-user-select: none;
		 -o-user-select: none;
			user-select: none;
}

#ka {
	float:right;
}

#pp {
	height:200%;
	width:40px;
	float:left;
	border-radius:20px;
	margin: -10px 10px 0 -10px;
}

#menu {
	margin-right:20px;
	padding: 10px 15px;
	cursor:default;
}

#menu p {
	display:inline-block;
}

#menu p:not(.son) {
	margin-right:10px;
	padding-right:10px;
	border-right: 1px solid #c3c3c3;
}

#menu i, .element i {
	margin-right:5px;
}

#icerik {
	margin-top: 30px;
	margin-bottom: 0px; /*40px*/
	overflow: hidden;
}

#icerik p{
	margin-bottom: 20px;
}

#slogan {
	font-size: 72px;
	color: #999999;
	text-align: center;
	margin-bottom: 20px;
	font-weight: normal;
}

#arama-yeri {
	text-align:center;
}

.arama-cubugu {
	width: calc(100% - 45px);
	padding: 20px;
	font-size: 20px;
	border: 2px solid #999999;
    -webkit-transition: 0.5s;
			transition: 0.5s;
	border-radius: 60px;
	background-color: #ffffff;
}

.arama-cubugu:focus {
	border: 2px solid #35dc40;
}

#arama-yeri, .liste {
	margin-bottom: 40px;
}

.liste h2 {
	color:#999999;
	text-align:center;
	font-size: 36px;
}

.liste .element {
	padding: 12px 8px;
	overflow: hidden;
	text-align: center;
	border-bottom: 1px solid #c3c3c3;
	-webkit-transition: 0.5s;
			transition: 0.5s;
}

.liste .element .sol {
	float:left;
	margin-right: 10px;
}

.liste .element .sag {
	float:right;
	margin-left: 10px;
}

.liste .element .sag span {
	float:left;
}

.liste .element .orta {
	margin: 0 auto;
	display: inline-block;
}

.liste .element:hover {
	background-color: #B0FFAD;
}

.liste .son {
	border: none;
	-webkit-user-select: none;      
	   -moz-user-select: none;
		-ms-user-select: none;
		 -o-user-select: none;
			user-select: none;
}

.liste .son i {
	margin-left: 5px;
}

#parca-kapak img, #profil-foto img{
	width:100%;
}

#oynatici {
	width: 100%;
	margin-bottom: 20px;
}

#sonluk-dis {
    bottom: 0px;
	width:100%;
	padding: 20px 0;
	border-top: 2px solid #35dc40;
	background-color: #ffffff;
	-webkit-box-shadow: 0px -10px 50px 0px rgba(0,0,0,0.2);
	   -moz-box-shadow: 0px -10px 50px 0px rgba(0,0,0,0.2);
			box-shadow: 0px -10px 50px 0px rgba(0,0,0,0.2);
}

#giris {
	position: absolute;
	top:50%;
	left:50%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom: 4px solid #35dc40;
	background-color: #ffffff;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
			box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
	transform: translate(-50%, -50%);
}

#giris-form {
	margin-top: 20px;
}

#giris-form h3 {
	font-size: 16px;
	font-weight: normal;
}

#giris-form p {
	font-size: 14px;
	text-align: center;
	margin-top: 15px;
}

#giris-form .arama-cubugu {
	width: calc(100% - 28px);
	padding: 6px 10px;
	font-size: 16px;
	margin: 8px 0 15px;
}

#giris-form .dosya {
	margin: 8px 0 15px;
}

.input-buton {
	width: 100%;
	padding: 4px 0;
	font-size: 20px;
	background-color: #2CB835;
	color: white;
	border-radius: 30px;
	border:none;
	margin-top:10px;
	cursor:pointer;
    -webkit-transition: 0.5s;
			transition: 0.5s;
}

.input-buton:hover {
	color: #2CB835;
	background-color: #efefef;
}

#mesaj{
	width: calc(100% - 40px);
	background-color: #FF5454;
	margin-top:20px;
	margin-bottom:20px;
	color:white;
	padding: 6px 20px;
	cursor: pointer;
	border-radius: 100px;
}

#yukleme-cubugu{
	height: 36px;
	width: 100%;
	float: left;
	background-color: #dedede;
	border-radius: 20px;
	margin-bottom: 20px;
}

#yukleme-cubugu #ilerleme{
	height: 100%;
	float: left;
	background-color: #2CB835;
	border-radius: 20px;
}

#ilerleme span{
	line-height: 36px;
	float: right;
	color: #ffffff;
	margin-right: 2px;
}

/**************************/
/*    Tablet - Telefon    */
/**************************/

.ortala {
	width: calc(100%-20px);
	margin:auto;
	padding-left: 10px;
	padding-right: 10px;
}

#masaustu {
	display:none;
}

#mobil {
	display:block;
}

#mobil-menu {
	width:250px;
	margin-left:auto;
	margin-right:auto;
}

#mobil-menu .liste i {
	margin-left: 0;
}

#mobil-menu #kullanici {
	background-color: #dedede;
}

#slogan {
	display:none;
}

#bas-sol {
	float:;
	text-align:center;
}

#parca-kapak, #profil-foto{
	width:90%;
	max-width:500px;
	float:;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}

#parca-icerik, #profil-icerik {
	width:100%;
	float:;
}

#giris {
	width:calc(100% - 82px);
}

#yukleme-alani{
	width: 100%;
	margin: auto;
}

/**************************/
/*        Masaüstü        */
/**************************/

@media screen and (min-width: 1020px) {
	.ortala {
		width:1000px;
	}
	
	#masaustu {
		display:inline;
	}
	
	#mobil {
		display:none;
	}
	
	#slogan {
		display:block;
	}
	
	#bas-sol {
		float:left;
	}
	
	#parca-kapak, #profil-foto {
		width:40%;
		float:left;
		margin-left:0;
		margin-right:0;
	}
	
	#parca-icerik, #profil-icerik {
		width:55%;
		float:right;
	}
	
	#profil-foto {
		width:30%;
	}
	
	#profil-icerik {
		width:65%;
	}
}

@media screen and (min-width: 484px) {
	#giris {
		width:400px;
	}
}

@media screen and (min-width: 680px) {
	#yukleme-alani{
		width: 40%;
	}
}